@import '@cssVariables';

.menu {
  display: flex;
  align-items: center;
  width: 100%;
  background: var(--white);
  color: var(--black);
}

.menu__item {
  display: inline-block;
  padding: 0 var(--space32);
}

.menu__item a {
  color: var(--black);
  text-transform: capitalize;
  text-decoration: none;
}

.menu__item__logo a {
  color: var(--black);
}

:global .active {
  
}

.menu__item_right {
  margin-left: auto;
}
