@import '@cssVariables';

.img {
  display: block;
  object-fit: cover;
  object-position: 65% 65%;
  width: 100%;
  height: auto;
}

.filter__group {
  align-self: flex-end;
  margin-bottom: var(--space10);
}

.filter__button {
  background: none;
  border: none;
}

:global .grid-sizer,
:global .grid-item {
  width: 50%;

  @media (--media-m) {
    width: 50%;
  }

  @media (--media-l) {
    width: 33.3333333%
  }

  @media (--media-xl) {
    background-color: green;
    width: 25%;
  }
}

:global .grid-item {
  float: left;
}

:global .grid:after {
  content: '';
  display: block;
  clear: both;
}
